

<div class="text-center">
    <h1 class="text-info">Confirmación</h1>

    <p>Hemos Recibido un Miembro de Nuestro Equipo se Contactara Pronto Contigo</p>
    <img src="~/img/patio.jpg" width="80%" />
</div>

