@using WebCore.Models.ViewModels;
@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">Todos</button>

        @foreach (var categorias in Model.Categorias)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@categorias.NombreCategoria.Replace(' ','_')">
                @categorias.NombreCategoria
            </button>

        }
    </div>
    <br />
    <div class="row">
        @foreach (var productos in Model.Productos)
        {
            //desplegar todos productos
            <partial name="_ProductoCard" model="productos" />

        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function()
        {
            $(".filter-button").click(function () 
            {
                
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show('1000');
                }
                else
                {
                    $('.filter').not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');
                }
            });
        });
    </script>
}